/* reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: #011d2b;
    background-image: url('../img/louis-maniquet-Ae64KHAzt1I-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    font-size: 14px;
}

a {
    text-decoration: none;
}


@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    padding: 5px 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}


.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: transparent;
    font-weight: bold;
    transition: background-color 0.4s, color 0.4s;
    color: #011d2b;
}

.menu a:hover,
.menu a:active {
    background-color: #011d2b;
    color: #fff;
}

.dados-pessoais {
    min-height: 500px;
    margin-top: 60;
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    animation: linear 0.6s animacaoTitulo;
}

@keyframes animacaoTitulo {
    to {
        opacity: 0;
    }

    from {
        opacity: 1;
    }
}


header figure {
    text-align: center;
}

header figure .foto-perfil {
    width: 192px;
    height: 192px;
    border-radius: 50%;
}

.site-subtitle,
.site-title {
    color: #e0ebef;
    text-align: center;
}

.site-title {
    font-size: 3em;
    font-weight: 300;
}

.site-subtitle {
    font-size: 1.8em;
    line-height: 1.8em;

}

.sobre,
.portfolio,
.contato {
    padding: 4em 2em 2em 2em;
    background-color: #011d2b;
    color: whitesmoke;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.sobre h2,
.portfolio h2,
.contato h2 {
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
    font-weight: 800;
}

.sobre p {
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    text-align: justify;
}

.sobre a {
    color: #12e2cf;
}

.sobre .avatar {
    float: right;
    margin: 0 1.5em 1.5em 1.5em;
}

.sobre .avatar img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}


@media (min-width: 398px) and (max-width: 480px) {
    .sobre .avatar {
        width: 100%;
        text-align: center;
        margin: 0 0 1.5em 0;
    }
}

@media (max-width: 560px) {
    .sobre h2,
    .portfolio h2,
    .contato h2 {
        margin-top: 1em;
    }
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: repeat(2, 50%);
        justify-content: center;
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
        margin-left: 4px;
        margin-right: 4px;
        justify-content: space-around;
        grid-template-columns: repeat(3, 33%);
    }
}

.flip-card {
    height: 240px;
    perspective: 1000px;
}

.flip-card:hover .card {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 600ms;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
}

.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 100%;
    transform: rotateY(180deg);
    font-size: 1em;
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 240px;
    width: 100%;
    object-fit: cover;
    transition: transform 500ms;
    border-radius: 8px;
}

.contato .icons {
    text-align: center;
}

.contato a {
    color: lightgray;
    font-size: 4em;
    margin: 5px;
    transition: text-shadow 400ms;
}

.contato a:active,
.contato a:hover {
    color: white;
    text-shadow: 0px 0px 10px white;
}